body{
        margin: 0;
        padding: 0;
        background: url('fundo.png') repeat-x;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';
    }


#conteiner{
            width: 750px;

            margin: 0 auto;

}

#topo{
        background: url('detalhe-topo.png') no-repeat right top ;
        height: 170px;
}

 #topo .logo{
        background: url('logo.png') no-repeat;
        width: 152px;
        height: 67px;
        text-indent: -3000px;

}


#topo ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #b10333;
        float: left;
}

#topo ul li{
        float: left;

}

#topo ul a{
        text-decoration: none;
        font-size: 19px;
        padding: 0 0.6em;
        display: block;
        line-height: 40px;
        color: #fff;
        background: url('./imagens/divisor.png') left repeat-y;


}

#topo ul .primeira a{
        background-image: none;

}

#topo ul a:hover{
    
    background-color: #490518;
    color: #acacac;




}


body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.body #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencias #navegacao a#ciencias,
body.fotos #navegacao a#fotos{

        color: #fff;
        background: #de003e;

}


@media(max-width: 728px){


        #conteiner{

                width: 100%;

        }

        #topo ul {
              margin-top: 130px;
                

        }

        #topo ul a{
                        font-size: 1.2em;
                        

        }


        #conteiner-site{
                clear: both;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                align-items: center;
               
                

        }

        #lateral{
                margin: 0;
                padding: 0 0 1px 0;
                width: 100%;
                float:left;
                top:0;

        }

        #primeiro{
                margin: 0;
                padding:0;
                width: 100%;
                float: left;
        }

        #segundo{
                width: 100%;

        }

        #lateral  .caixa1{
                width: 100%;
                
        }

        #lateral ul li {
                padding-left: 25%;

        }

      .email-conteudo{
                padding-left: 25%;
        

      }


      .conteudo-rodape{
                width: 100%;
        font-size: 14px;
      }
     
}

@media(max-width: 480px){


        #conteiner{

                width: 100%;

        }

        #topo ul {
                margin: 130px 0 0 20px;


        }

        #topo ul a{
                        font-size: 12px;
                        

        }


        #conteiner-site{
                clear: both;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                align-items: center;
               
                

        }

        #lateral{
                margin: 0;
                padding: 0 0 1px 0;
                width: 100%;
                float:left;
                top:0;

        }

        #primeiro{
                margin: 0;
                padding:0;
                width: 100%;
                float: left;
        }

        #segundo{
                width: 100%;

        }

        #lateral  .caixa1{
                width: 100%;
                
        }

        #lateral ul li {
                padding-left: 25%;

        }

      .email-conteudo{
                padding-left: 25%;
        

      }


      .conteudo-rodape{
                width: 100%;
        font-size: 14px;
      }
     
}


